
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoApi</title>
</head>
<body>
    <h1> No running instance of league of legends were found, please open league of legends and login.</h1>
    <a href="/Home/Index">Click here when you are logged into league of legends</a>
</body>
</html>
