
@{
    ViewData["Title"] = "Index";
}

<div class="mm_wrapper">
    <div class="mm_gametype" onclick="location.href='Matchmaking/fivevfive'">
        <span>5 vs 5</span>
        <div class="queue1"></div>
    </div>
    <div class="mm_gametype">
        <span>Coming soon</span>
        <div class="queue2"></div>
    </div>
</div>
