@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype') font-weight-normal;
  src: url('../font/Roboto-Italic.ttf') format('truetype') font-weight-normal font-italic;
  src: url('../font/Roboto-Bold.ttf') format('truetype') font-weight-bold;
}
html,
body {
  background-color: #0B0C10;
  font-family: Roboto, sans-serif;
  height: 100%;
}
header {
  width: 100vw;
  height: 75px;
  background-color: #1F2833;
}
nav {
  color: #C5C6C7;
  margin-left: 15px;
}
nav ul li {
  float: left;
}
nav ul li a {
  text-decoration: none;
  color: #C5C6C7;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
  display: block;
  text-align: center;
  line-height: 75px;
}
.play_button {
  background-color: #45A29E;
  line-height: 50px !important;
  margin-top: 12.5px;
  width: 150px !important;
}
.play_button:hover {
  background-color: lightblue;
}
.user {
  float: right;
  line-height: 75px;
  width: 200px;
  color: #C5C6C7;
}
content {
  width: 100vw;
  height: calc(100% - 75px);
  float: left;
  font-family: Roboto, sans-serif;
  color: #C5C6C7;
}
.mm_wrapper {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.mm_gametype {
  margin-top: 3%;
  height: 85%;
  width: 45%;
  border: 1px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.mm_gametype span {
  position: relative;
}
.mm_gametype:hover div {
  background-size: 180%;
}
.queue1 {
  background: url("../images/matchmaking/queue1.jpg") center;
  opacity: 0.2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: 140%;
  -moz-transition: 0.5s background-size;
  -o-transition: 0.5s background-size;
  -webkit-transition: 0.5s background-size;
  transition: 0.5s background-size;
}
.queue2 {
  background: url("../images/matchmaking/queue2.jpg") center;
  opacity: 0.2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: 140%;
  -moz-transition: 0.5s background-size;
  -o-transition: 0.5s background-size;
  -webkit-transition: 0.5s background-size;
  transition: 0.5s background-size;
}
.searching_wrap {
  width: 100%;
  height: 100%;
  display: none;
}
.searching_circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px white solid;
  display: block;
  text-align: center;
  line-height: 500px;
  left: calc(50% - 250px);
  position: relative;
  top: calc(50% - 250px);
}
.searching_circle p {
  font-size: 4.2em;
  color: white;
}